*, ::before, ::after{
  margin: 0;
  box-sizing: border-box;
}

body{
  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: 'Handlee', cursive;
  height: 100vh;
  width: 100vw;
  background-image: repeating-linear-gradient(hsla(44, 100%, 49%, 0.164) 0, hsla(44, 100%, 49%, 0.164) 40px, black 40px, black 41px);
  
}

header{
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 3vh;

  /* padding-bottom: 2em; */
}

footer{
  width: 100vw;
  height: 3vh;
  margin: 0.5em;
}